* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	// transition: .3s all linear;
}
*:not(p):not(span) {
	text-transform: capitalize;
}
dl,
ul,
ol {
	list-style-type: none;
	margin-bottom: 0px;
	padding-right: 0px;
}
a {
	text-decoration: none !important;
}
.main-btn {
	background-color: $mc;
	color: $wh;
	font-size: 14px;
	font-weight: bold;
	min-width: 220px;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 20px;
	transition: .3s all linear;
	@if ($lang == "ar") {
		margin-right: 5px !important;
	} @else {
		margin-left: 5px !important;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $mc1 !important;
	}
}
